{% extends "base.html" %}
{% load static %}
{% block title %}Process View{% endblock %}
{% block content %}
{% include "navbar.html" %}

<div class="container-fluid">
	<br>
	<h3>Process Tree</h3>
	<div id="process_tree">
		{% include "process_tree.html" %}
	</div>

	<br>
	<h3>Process Events</h3>

	<br>
	<div class="text-center input-group">
		<input type="text" id="search_box" class="form-control" placeholder="Search">
		<div class="input-group-append">
			<button id="search_button" class="btn btn-primary">Search</button>
	    </div>
	</div>
	<br>

	<div id="process_events" class="text-center">
		{% include "process_events_table.html" %}
	</div>
</div>

<script>
function sendSearch(page) {
	$('#process_events').html($('<img>', {src:"{% static 'img/loading.png' %}"}))
	var queryData = {'guids': {{ guids|safe }}, 'query': $('#search_box').val(), 'page': page};
	$.ajax({
	    type: "POST",
	    url: "{% url 'process_events_table' %}",
	    data: queryData,
	    success: function(data) {
			$("#process_events").html(data);
	    },
	    error: function () {
			$("#process_events").html("Error downloading event table.");
	    }
	});
}
$("#search_button").click(function() {
	sendSearch(1);
});
$('#search_box').keypress(function(event) {
	var keyCode = (event.keyCode ? event.keyCode : event.which);   
	if (keyCode == 13)  // the enter key code
	{
		$('#search_button').click();
	}
});
</script>

{% endblock %}
